# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[client]
socket=/var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci

skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
pid-file=/var/run/mysqld/mysqld.pid
user=mysql

# error log 위치
log-error=/var/lib/mysql/log/err.log

# general log 설정 및 위치
general_log=1
general_log_file=/var/lib/mysql/log/history.log

# slow, long query 설정
slow-query-log = 1                   # log file 쌓기 
long_query_time = 3                  # 해당 초 이상 소요된 쿼리에 대한 정보 logging
slow_query_log_file = /var/lib/mysql/log/slow.log

!includedir /etc/mysql/conf.d/